.Main-footer{
    background-color: #090b32;
    
}
.footer{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
   /* display: flex;
   align-items: center;
   justify-content: center; */
   /* height: 300px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* padding: 20px; */
    
}
.styled-shopie img{
    width: 150px;
    margin-top: 20px;
    
}
.shopie{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    margin-left: 50px;
}
.shopie p{
    color: #fff;
}
.numbers{
    
    color: #fff;
}
.products{
    /* background-color: rebeccapurple; */
    width: 300px;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    /* justify-content: center; */
  
}
.products ul{
    text-align: right;
    margin-top: -10px;
}
.products h2{
    color: #fff; 
    margin-left: 23px; 
}
 .products ul a{
    color: #fff;
    text-decoration: none;
    line-height: 25px;
 }
 
 .services{
    display: flex;
    align-items: right;
    flex-direction: column;
    width: 150px;
    margin-right: 70px;
 
 }
 .services h2{
   color: #fff;
 }
 .services ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 25px;
 }
 .accept-payment{
    /* background-color: rebeccapurple; */
   margin-right: 70px;
   width: 300px;
 }
 .accept-payment h2{
    color: #fff;
 }
 .hr-text{
   border-top: 1px solid gray;
   margin-top: 20px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 20px;
 }
 .hr-text p{
    color: #fff;
 }
