.Main-footer{
    background-color: rgba(0, 0, 0, 0.961);
}
.footer{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.shopie{
    text-align: left;
    padding-right: 10px;
   
}
.shopie img{
   width: 30px;
}
.styled-shopie{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    font-family: cursive;
}
.numbers{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
.shopie p{
    color: #fff;

}
.accept-payment img{
    width: 30px;
}
.products{
    text-align: left;
    border-left: 1px solid rgba(128, 128, 128, 0.429);
    padding-left: 30px;
}
.products h2{
    color: #fff;
    
    font-weight: 200;
}
.products ul li{
    list-style: none;
}
.products ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 30px;

}
.services h2{
    color: #fff;
  
    font-weight: 200;
}
.services ul li{
    list-style: none;
}
.services ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 30px;

}
.accept-payment h2{
    color: #fff;
    
    font-weight: 200;
}
.payment-images img{
    margin-left: 10px;
}
.payment-social-links{
    margin-bottom: 20px;
}
.payment-social-links img{
    margin-left: 15px;
    color: #fff;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
hr{
    color: gray;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.hr-text{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(128, 128, 128, 0.332);
    margin-top: 80px;
    text-align: center;
    padding: 5px;
}
.hr-text p{
    color: rgba(255, 255, 255, 0.713);
}
.hr-text p span{
    color: #fff;
}
